@model PanchaMukhiMarbles.UI.Models.DTO.ProductDto
@{
}

<h1 class="mt-3">Edit Product</h1> 

@if(Model!=null)
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly/>
        </div>
        <div class="mt-3">
            <label class="form-label">ProductName</label>
            <input type="text" class="form-control" asp-for="ProductName" />
        </div>
        <div class="mt-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" />
        </div>
        <div class="mt-3">
            <label class="form-label">ImageUrl</label>
            <input type="text" class="form-control" asp-for="ImageUrl" />
        </div>
        <div class="mt-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" asp-for="Price" />
        </div>
        <div class="mt-3">
            <label class="form-label">MadeIn</label>
            <input type="text" class="form-control" asp-for="MadeIn" />
        </div>
        <div class="mt-3">
            <label class="form-label">CategoryId</label>
            <select class="form-control asp-items=Model.Items" asp-for="CategoryId">
                <option value="29C77E11-70F2-4633-A16F-1B7D78C5FF20">Tiles</option>
                <option value="C8C577B6-7787-4A4C-8EBB-3ED95531DA72">Granites</option>
                <option value="6DA82802-AA65-4040-B937-84618C7D543E">Sanitaries</option>
                <option value="FE707F6E-FC31-40B6-A6B3-FA2662AC92DC">Bathwares</option>
            </select>
        </div>
        <div class="mt-3">
            <label class="form-label">Thickness</label>
            <input type="text" class="form-control" asp-for="Thickness" />
        </div>
        <div class="mt-3">
            <label class="form-label">CompanyName</label>
            <input type="text" class="form-control" asp-for="CompanyName" />
        </div>
        <div class="mt-3">
            <label class="form-label">InStock</label>
            <input type="text" class="form-control" asp-for="InStock" />
        </div>
        <div class="mt-3">
            <label class="form-label">Pictures</label>
            <input type="file" class="form-control" id="File" name="File" accept="image/*" accept=".png, .jpg, .jpeg" />
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" asp-controller="Products" asp-action="Delete"
            class="btn btn-danger">Delete</button>
        </div>

    </form>
}